BASE_URL=https://dmoneyportal.roadtocareer.net

ADMIN_EMAIL=admin@dmoney.com
ADMIN_PASSWORD=1234
SYSTEM_EMAIL=system@dmoney.com
SYSTEM_PASSWORD=1234

AGENT_PASSWORD=1234
AGENT_NEW_PASSWORD=Reset@5678

GMAIL_BASE_LOCAL=yourname
GMAIL_ACCESS_TOKEN=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

EXISTING_CUSTOMER_PHONE=01711111111
SYSTEM_DEPOSIT_AMOUNT=2000
CUSTOMER_DEPOSIT_AMOUNT=500
EXPECTED_AGENT_BALANCE_AFTER_CASHIN=

RECORD_VIDEO=false
SLOW_MO=0
